<div class="flex-container">
  <div class="flex-item">
    <mat-card>
      <mat-card-content style="text-align: center;">
        <div class="title-center">
          BIG COUNTRY LIQUOR
        </div>
        <div class="sub-title-center">
          Service with a Subject - Version
        </div>
        <p class="slogan">
          We have enough booze to make your in-laws tolerable.
        </p>
        <button mat-raised-button type="button" color="primary" (click)="navToStore()">Enter Store</button>
        <section>
          <div class="media">
            <img src="https://firebasestorage.googleapis.com/v0/b/arvid-193fa.appspot.com/o/emailImages%2FLogo.jpg?alt=media&token=4d03087f-4c0c-486d-a7c1-a9b00b0c6d27">
          </div>

        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
